@color-primary:           #50B3FF;
@color-primary-darker:    #424AFF;
@color-primary-dark:      #3C70E8;
@color-primary-light:     #3CCBE8;
@color-primary-lighter:   #42FFEC;

@color-secondary:         #FFDA42;
@color-secondary-darker:  #FFAE36;
@color-secondary-dark:    #E8B131;
@color-secondary-light:   #E8D631;
@color-secondary-lighter: #FEFF36;

@color-background:        #FFFFFF;
@color-background-dark:   #DCDCDC;
@color-background-darker: #A9A9A9;
