@import '../../styles/colors';
@import '../../styles/typo';
@import '../../styles/layout';

.height-relative(@width, @height) {
  @result: 100vw * (@height / @width);
}

.drop-shadow {
  -webkit-filter: drop-shadow(4px 4px 30px rgba(#363c70, 0.5));
  filter: drop-shadow(4px 4px 30px rgba(#363c70, 0.5));
}

@page-padding-horizontal: 4vw;
@page-padding-vertical: 100px;

.app {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
    'hd hd hd   hd   hd   hd   hd   hd   hd'
    'main main main main main main main main main'
    'ft ft ft   ft   ft   ft   ft   ft   ft';

  @curve-height: 200px;
  svg.curve {
    display: block;
    overflow: hidden;
    height: @curve-height;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    path {
      fill: @color-background;
      height: 100%;
    }
  }

  .header {
    grid-area: hd;
    overflow: hidden;
    position: relative;
    @bg-width: 1920px;
    @bg-height: 1000px;
    @padding-top: 50px;
    padding-top: @padding-top;
    height: calc(.height-relative(@bg-width, @bg-height) [ @result]);

    @top-height: 7vh;

    .logo {
      .light();
      position: absolute;
      top: @padding-top;
      left: @page-padding-horizontal;
      height: @top-height;
      line-height: @top-height;
      font-weight: bold;
      align-self: center;
      margin: 0;
    }

    nav {
      .serif();
      position: absolute;
      top: @padding-top;
      right: @page-padding-horizontal;
      height: @top-height;

      ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        justify-content: center;
        align-items: center;

        li {
          vertical-align: middle;

          a {
            font-size: 1.4em;
            margin: 0 0.5em;
            padding: 0.5em;
            white-space: nowrap;
            overflow: hidden;
            background-image: linear-gradient(120deg, @color-primary-lighter, @color-primary-lighter);
            background-repeat: no-repeat;
            background-size: 100% 0.2em;
            background-position: bottom center;
            transition: background-size 0.25s ease-in;

            &:hover {
              background-size: 100% 100%;
            }
          }
        }
      }
    }

    .text {
      .light();
      text-align: center;
      width: 40%;
      margin: auto;
      position: absolute;
      top: .height-relative(@bg-width, 400) [ @result];
      left: 0;
      right: 0;

      p {
        font-size: 1.5em;
        margin: 0;
      }
    }

    .bg {
      position: absolute;
      top: 0;
      z-index: -1;
    }

    .bg-mobile {
      visibility: hidden;
      z-index: -1;
    }
  }

  .main {
    grid-area: main;

    @section-padding-horizontal: @page-padding-horizontal;
    @section-padding-vertical: @page-padding-vertical;

    section {
      padding-top: @section-padding-vertical;
      text-align: justify;
      overflow: hidden;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: @section-padding-vertical;
      }

      .content > * {
        width: 70%;
        margin: auto;
        padding: 0 @section-padding-horizontal;
      }

      .left {
        & .content > * {
          margin-left: 0;
        }
      }

      .right {
        & .content > * {
          margin-right: 0;
        }
      }

      &#about {
        .left();
        z-index: 100;
      }

      &#projects {
        .right();

        .content {
          .light();
          background: linear-gradient(41deg, @color-primary-darker, @color-primary);
          padding-top: 150px;
          padding-bottom: 200px;
          margin-top: -@curve-height;
          margin-bottom: -@curve-height;

          h2 {
            text-align: right;
          }
        }
      }

      &#contact {
        .left();
      }
    }
  }

  .footer {
    grid-area: ft;
    overflow: hidden;

    .content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-template-areas: 'left center right';
      column-gap: 50px;
      padding: @page-padding-vertical @page-padding-horizontal;
      background: linear-gradient(41deg, @color-primary, @color-primary-lighter);
      padding-top: 250px;
      margin-top: -@curve-height;

      .left {
        grid-area: left;
      }

      .center {
        grid-area: center;
      }

      .right {
        grid-area: right;
      }
    }
  }
}

// Large
@media screen and (max-width: 1200px) {
  @page-padding-vertical: 0px;

  .app {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
      'hd   hd   hd   hd   hd   hd'
      'main main main main main main'
      'ft   ft   ft   ft   ft   ft';

    .header {
      @header-height: 370px;
      @padding-top: 3vw;

      padding-top: @padding-top;
      height: @header-height;

      @top-height: 7vh;

      .logo {
        position: static;
        text-align: center;
      }

      nav {
        .light();
        position: static;
        text-align: center;
      }

      .bg-mobile {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        overflow: hidden;
        transform: translate(-50%);
      }

      .bg,
      .text {
        visibility: hidden;
      }
    }

    .main {
      section {
        @curve-height: 200px;
        padding-top: @page-padding-vertical;

        .content > * {
          width: 100%;
        }

        h2 {
          text-align: left !important;
        }
      }
    }
  }
}

// Medium
@media screen and (max-width: 992px) {
  .app {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
      'hd   hd   hd'
      'main main main '
      'ft   ft   ft';
    @page-padding-vertical: 50px;

    .footer {
      .content {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
          'left'
          'center'
          'right';

        padding-top: 200px;
      }
    }
  }
}

// Small
@media screen and (max-width: 768px) {
  .app {
  }
}
