@import '../styles/colors';
@import '../styles/typo';
@import '../styles/layout';

.app {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
    'hd hd hd   hd   hd   hd   hd   hd   hd'
    'main main main main main main main main main'
    'ft ft ft   ft   ft   ft   ft   ft   ft';

  @bg-width: 1920px;
  @bg-height: 886px;
  .height-relative(@width, @height) {
    @result: 100vw * (@height/@width);
  }

  .header {
    grid-area: hd;
    text-align: center;
    background: url('../../public/images/bg.svg') no-repeat;
    background-size: 100% auto;
    background-position: right 0;

    @padding-top: 50px;
    padding-top: @padding-top;

    height: .height-relative(@bg-width, @bg-height)[@result];

    @top-height: 4em;

    .logo {
      .light();
      position: absolute;
      left: 50px;
      height: @top-height;
      font-weight: bold;
      align-self: center;
      margin: 0;
    }

    nav {
      position: absolute;
      right: 50px;
      height: @top-height;

      ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        justify-content: center;
        align-items: center;

        li {
          vertical-align: middle;

          a {
            font-size: 1.4em;
            padding: 0 1em;
            white-space: nowrap;
          }
        }
      }
    }

    .text {
      .light();
      text-align: center;
      width: 40%;
      margin: auto;
      position: absolute;
      top: .height-relative(@bg-width, 400)[@result];
      left: 0;
      right: 0;

      p {
        font-size: 1.5em;
        margin:0;
      }
    }

    .circle-left {
      .no-select();
      position: absolute;
      height: .height-relative(@bg-width, 350)[@result];
      top: .height-relative(@bg-width, 370)[@result];
      left: 0;
    }

    .circle-right {
      .no-select();
      position: absolute;
      height: .height-relative(@bg-width, 400px)[@result];
      top: .height-relative(@bg-width, 200px)[@result];
      right: 0;
    }
  }

  .sidebar {
    grid-area: sd;
  }

  @page-padding-horizontal: 100px;
  @page-padding-vertical: 100px;

  .main {
    grid-area: main;

    @section-padding-horizontal: @page-padding-horizontal;
    @section-padding-vertical: @page-padding-vertical;

    section {
      padding-top: @section-padding-vertical;
      @curve-height: 100px;
      text-align: justify;

      .content > * {
        width: 70%;
        margin: auto;
        padding: 0 @section-padding-horizontal;
      }

      .left {
        & .content > * {
          margin-left: 0;
        }
      }

      .right {
        & .content > * {
          margin-right: 0;
        }
      }

      &#about {
        .left();
      }

      &#projects {
        .right();
        padding-bottom: @curve-height;

        svg {
          display: block;
          z-index: 5;
          width: 100%;
          height: @curve-height;

          path {
            fill: @color-background;
            height: 100%;
          }

          &.bg-top {
            transform: scale(-1);
          }

          &.bg-bottom {
            float: right;
          }
        }

        .content {
          .light();
          background: linear-gradient(41deg, @color-primary-darker, @color-primary);
          padding-top: 150px;
          padding-bottom: 150px;
          margin-top: -@curve-height;
          margin-bottom: -@curve-height;

          h2 {
            text-align: right;
          }
        }
      }

      &#contact {
        .left();
      }
    }
  }

  .footer {
    grid-area: ft;
    @curve-height: 100px;
    padding-top: @curve-height;

    .content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-template-areas: 'left center right';
      column-gap: 50px;
      padding: @page-padding-vertical @page-padding-horizontal;
      background: linear-gradient(41deg, @color-primary, @color-primary-lighter);
      padding-top: 170px;
      margin-top: -@curve-height;

      .left {
        grid-area: left;
      }

      .center {
        grid-area: center;
      }

      .right {
        grid-area: right;
      }
    }

    svg {
      display: block;
      z-index: 5;
      width: 100%;
      height: @curve-height;

      path {
        fill: @color-background;
        height: 100%;
      }

      &.bg-top {
        transform: scale(-1);
      }
    }
  }
}

// Large
@media screen and (max-width: 1200px) {
  .app {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
      'hd   hd   hd   hd   hd   hd'
      'main main main main main main'
      'ft   ft   ft   ft   ft   ft';

    .main {
      section {
        .content > * {
          width: 100%;
        }

        h2 {
          text-align: left;
        }
      }
    }
  }
}

// Medium
@media screen and (max-width: 992px) {
  .app {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
      'hd   hd   hd'
      'main main main '
      'ft   ft   ft';

    .footer {
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas:
        'left'
        'center'
        'right';
    }
  }
}


// Small
@media screen and (max-width: 768px) {
  .app {
  }
}
