.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test {
  display: grid;
  grid-template-rows: 200px 800px 50px;
  grid-template-columns: calc(100%  /3) calc(100%  /3) calc(100%  /3);

  background: #FF6600;
}

.test .top {
  grid-row: 0;
  grid-column: 0 2;

  height: 200px;

  background: blue;
}

.test .left {
  grid-row: 1;
  grid-column: ;

  height: 200px;
}

.test .center {
  grid-row: 0;
  grid-column: 0;

  height: 200px;
}

.test .right {
  grid-row: 0;
  grid-column: 0;

  height: 200px;
}

.test .bottom {
  grid-row: 0;
  grid-column: 0;

  height: 200px;
}
